
.wysibb {
    font-size: 14px;
    background: 0 0;
}

.wysibb {
    padding-bottom: 41px;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container {
    display: inline-block;
    border-right: none;
}

.wysibb .wysibb-toolbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    max-height: 200px;
    background-color: #fafafa;
    border: none;
    border-top: 1px solid #eee;
    padding: 0;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container {
    border-color: #eee!important;
    padding: 2px 5px;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn {
    width: 24px;
    height: 24px;
    padding: 6px 5px;
    margin: 0;
    background: 0 0;
    box-shadow: none;
    min-width: auto;
    box-sizing: content-box;
    border: none;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn span.btn-inner {
    min-width: auto;
    width: 24px;
    height: 24px;
    margin: 0;
    background: url(../../images/wysibb_icons@2x.png) no-repeat;
    background-size: 50px;
    background-position-x: 0;
    text-indent: -9999px;
    border: none;
    box-shadow: none;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-bold .btn-inner {
    background-position-y: -27px!important;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-italic .btn-inner {
    background-position-y: -79px!important;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-underline .btn-inner {
    background-position-y: -106px!important;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-link .btn-inner {
    background-position-y: -131px!important;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-removeformat .btn-inner {
    background-position-y: -183px!important;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-animation .btn-text {
    background-position-y: -53px!important;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container.modeSwitch {
    position: static;
    width: auto;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container.modeSwitch .wysibb-toolbar-btn span.btn-inner {
    display: inline-block;
    padding: 0 4px;
    width: auto;
    line-height: 23px;
    border-radius: 4px;
    background: 0 0;
    text-indent: 0;
    color: #aaa;
    font-weight: 400;
    font-size: 12px;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn:hover {
    padding: 6px 5px;
    box-shadow: none;
    background: 0 0;
    border: none;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.on {
    padding: 6px 5px;
    box-shadow: none;
    background: 0 0;
    border: none;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.on:hover {
    padding: 6px 5px;
    box-shadow: none;
    background: 0 0;
    border: none;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.on .btn-inner {
    background-position-x: -26px!important;
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container.modeSwitch .wysibb-toolbar-btn.on span.btn-inner {
    border-color: #14B9C8;
    color: #14B9C8;
}

.wysibb-texarea {
    border-radius: 0;
    box-shadow: none;
}

.wysibb .wysibb-text-editor {
    padding: 0 4px;
}

.wysibb-text-editor {
    max-height: 500px!important;
}

.bbcode-body {
    word-wrap: break-word;
    word-break: break-word;
    line-height: 25px;
    font-size: 16px;
}

/* Modal样式 */
#insertAnimationModal .modal-dialog {
    max-width: 400px;
    height: 350px;
}

.hiver-modal .modal-dialog .modal-content {
    position: relative;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: none;
}

.hiver-modal .modal-dialog .modal-content .modal-header {
    color: #fff;
    background: #14B9C8;
}

.hiver-modal .modal-dialog .modal-content .modal-header>button {
    color: #fff;
    opacity: 1;
}

.hiver-modal .modal-dialog .modal-content .modal-body {
    padding: 20px;
    height: 260px;
}

.hiver-modal .modal-dialog .modal-content .modal-footer {
    padding: 13px 20px;
    text-align: center;
}

.hiver-modal .modal-dialog .modal-content .modal-footer .btn {
    padding: 5px 20px;
    line-height: 20px;
    border-radius: 3px;
}

.btn-default, .btn-primary {
    border-radius: 3px;
    box-shadow: none;
}

.btn-default, .btn-default:hover {
    color: #12A7B4;
    border-color: #12A7B4;
}

.btn-default {
    background: 0 0;
}

.btn-default:hover {
    background: #b4ebfa;
}

.btn-primary {
    border-color: #12A7B4;
    background: #12A7B4;
}

.btn-primary:hover {
    color: #12A7B4;
    border-color: #b4ebfa!important;
    background: #b4ebfa!important;
}

#insertAnimationModal .modal-footer .btn-primary:disabled,
#insertAnimationModal .modal-footer .btn-primary:disabled:hover {
    background-color: #ccc!important;
    border-color: #ccc!important;
    color: #fff;
}

/* select2 */
.select2-container--default .select2-selection--single {
    border-radius: 0px;
    height: 30px;
    border: 1px solid #14b9c8;
}

.select2-container--default .select2-results>.select2-results__options {
    height: 150px;
    max-height: 150px;
    overflow-y: scroll;
}

.select2-dropdown {
    border-radius: 0px;
    border: 1px solid #ddd;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #ddd;
}

.select2-results ul {
    padding: 5px 10px;
}

.select2-results__option {
    padding: 7.5px 18px;
    border-radius: 4px;
    color: #666;
    cursor: pointer;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #dedede;
    color: #666;
}